body {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#output {
  padding: 20px;
  text-align: center;
}

.date-time-div {
    float: left;
    margin-top: 2px;
}

.wrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;^   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.task {
    overflow: auto;
}

span.badge {
    margin-left: 10px;
}

.list-group-item>.badge {
    float: none !important;
}

.badge-pending {
    background-color: #dc3545 !important;
}

.badge-done {
    background-color: #28a745 !important;
}

.list-group div:hover {
    cursor: pointer;
}

.task-input {
    width: 100%;
    resize: vertical;
    min-height: 55px;
}

.text-div {
    margin-bottom: 20px;
}

#doneList div .text-div {
    text-decoration: line-through;
 }

#doneCount, #pendingCount {
    float: right;
    margin-right: 10px;
    font-style: italic;
}

.font-italic {
    font-style: italic;
    font-size: small;
}

span.close_task {
    float:right;
    display:inline-block;
    margin-top: -4px;
    margin-right: -9px;
    color: gray;
    padding: 4px 11px 4px 11px;
}

span.close_task:hover {
    float:right;
    display:inline-block;
    margin-top: -4px;
    margin-right: -9px;
    color: #dc3545;
}

#timeSpan, #dateSpan {
    margin-left: 5px;
}